body{
    font-family: atkinson hyperlegible;
    background-color: #999;
    margin:0;
}
.navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
a.nav{
  font-size:15px;
  color:rgb(255, 255, 255);
  font-family: atkinson hyperlegible;
  text-decoration: none;
  padding: 10px;
  margin: auto;
  float: left;
  display: block;
  text-align: center;

}
a.nav:hover{
  font-size:15px;
  color:rgb(255, 0, 0);
  font-family: atkinson hyperlegible;
  text-decoration: none;
  background: #ddd;
}
#active{
  font-size:15px;
  color:rgb(255, 0, 0);
  font-family: atkinson hyperlegible;
  text-decoration: none;
}

#header {
    text-align: center;
    font-family: atkinson hyperlegible;
}
p{
  margin: auto;
  font-size: 11pt;
  color:rgb(255, 255, 255);
  font-family: atkinson hyperlegible;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

