body{
    font-family: atkinson hyperlegible;
    background-color: #999;
    margin:0;
}
#product{
    background-color: rgb(237, 40, 45);
    width: 35%;
}
span.product1{
     margin-left: 30px;
}
#testing{
    clear: left;
    float: left;
}
div.win{
    text-align: center;
    font-size: 60pt;
}
p.win{
    text-align: center;
    font-size: 80pt;
    font-family: OCR A;
}
#paragraph{
    text-align: left;
    font-size: 24pt;
    color: white;
}
#paragraph2{
    text-align: center;
    font-size: 24pt;
    color: white;
}
#paragraph3{
    text-align: right;
    font-size: 24pt;
    color:white;
}
#image1{
    height: 300px;
    width: 300px;
    position: relative;
    bottom: 140px;
}
#paragraph4{
    font-size: 12pt;
    color: black;
    position: relative;
    bottom: 150px; ;
}
#paragraph5{
    font-size: 12pt;
    position: relative;
    bottom: 120pt;
}


/*Navigation*/
.navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
a.nav{
  font-size:15px;
  color:rgb(255, 255, 255);
  font-family: atkinson hyperlegible;
  text-decoration: none;
  padding: 10px;
  margin: auto;
  float: left;
  display: block;
  text-align: center;
}
a.nav:hover{
  font-size:15px;
  color:rgb(255, 0, 0);
  font-family: atkinson hyperlegible;
  text-decoration: none;
  background: #ddd;
}
#active{
  font-size:15px;
  color:rgb(255, 0, 0);
  font-family: atkinson hyperlegible;
  text-decoration: none;
}
