body{
    font-family: atkinson hyperlegible;
    background-color: #999;
    margin:0;
}
#product{
    background-color: rgb(237, 40, 45);
    width: 35%;
}
span.product1{
     margin-left: 30px;
}
#testing{
    clear: left;
    float: left;
}
div.win{
    text-align: center;
    font-size: 60pt;
}
p.win{
    text-align: center;
    font-size: 80pt;
    font-family: OCR A;
}
#paragraph{
    text-align: left;
    font-size: 24pt;
    color: white;
}
#paragraph2{
    text-align: center;
    font-size: 24pt;
    color: white;
}
#paragraph3{
    text-align: right;
    font-size: 24pt;
    color:white;
}
#image1{
    height: 300px;
    width: 300px;
    position: relative;
    bottom: 140px;
}
#paragraph4{
    font-size: 12pt;
    color: black;
    position: relative;
    bottom: 150px; ;
}
#paragraph5{
    font-size: 12pt;
    position: relative;
    bottom: 120pt;
}


/*Navigation*/
.navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
a.nav{
  font-size:15px;
  color:rgb(255, 255, 255);
  font-family: atkinson hyperlegible;
  text-decoration: none;
  padding: 10px;
  margin: auto;
  float: left;
  display: block;
  text-align: center;
}
a.nav:hover{
  font-size:15px;
  color:rgb(255, 0, 0);
  font-family: atkinson hyperlegible;
  text-decoration: none;
  background: #ddd;
}
#active{
  font-size:15px;
  color:rgb(255, 0, 0);
  font-family: atkinson hyperlegible;
  text-decoration: none;
}
#image2{
    height: 300px;
    width: 300px;
    position: absolute;
    right: 45%;
    top: 30%;
}
#paragraph8{
    position: absolute;
    right: 50%;
    top: 60%;
}
#image3{
    height: 300px;
    width: 300px;
    position: relative;
    bottom: 130pt;
}
#p3{
    position: relative;
    bottom: 170;
}
#img4{
        height: 300px;
        width: 300px;
        position: absolute;
        right: 60pt;
        bottom: 260;
}
#img5{
    height: 300px;
    width: 300px;
    position: absolute;
    right: 45%;
    top: 67%;
}
#p8{
    position: absolute;
    right: 49%;
    top: 97%;
}
#img6{
    height: 300px;
    width: 300px;
    position: relative;
    top:-18%;
}
#p9{
   position: relative; 
   top: -19%;
}
#img7{
    height: 300px;
    width: 300px;
    position: absolute;
    right: 45%;
    top: 103%;
}
#p10{
    position: relative;
    right: -82%;
    top: -82%;
}
#img8{
    height: 300px;
    width: 300px;
    position: relative;
    right: -80%;
    top: -82%;
}
#p11{
    position: relative;
    right: -80%;
    top: -82%;   
}
#p12{
    position: relative;
    right: -39%;
    top: -65%;
button.acnt{
    border: black solid 3px;
    background-color: aqua;
    font-family: atkinson hyperlegible;
}