fieldset{
    width: auto;
}
table{
    background-color: #aaa;
}
input{
    border: solid blue 3px;
    background-color: bisque;
    border-radius: 50px;
}
p{
    border:solid 3px red;
    background-color: beige;
    color: red;
    font-size: 20pt;
}
select{
    border: solid blue 3px;
    background-color: bisque;
    border-radius: 50px;
}